/*controls */
.orgDetails-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 15px 0;
  }
  /* slider part */
  .orgDetails-actions  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .orgDetails-actions  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .orgDetails-actions  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
  }
  .orgDetails-actions  .disabled{
    cursor: not-allowed;
  }
  
  .orgDetails-actions  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .orgDetails-actions  input:checked + .slider {
    background-color: #2AB070;
  }
  
  .orgDetails-actions  input:focus + .slider {
    box-shadow: 0 0 1px #2AB070;
  }
  
  .orgDetails-actions  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .admin-homepage .data-table .view-btn.delete{
    width: 30px;
    height: 30px;
    padding: 5px 5px;
  }
  /*slider end*/